@import "../lib/bootstrap/less/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@brand-primary: #135290;
@body-bg: #003366;
@text-color: #677179;
@font-size-base: 18px;
@font-family-monospace: "Inconsolata", Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-monospace;

body {
  margin-top: 25px;
}

textarea {
  color: @text-color;
}

.happiness-header {
  .make-row();

  .happiness-header-logo {
    .make-md-column(4);
    .make-md-column-push(8);

    img {
      float: right;
    }
  }
}

.happiness-welcome {
  .make-row();

  .happiness-welcome-msg {
    .make-md-column(12);
  }
}

.happiness-home {
  .make-row();

  color: #ffffff;
  font-size: @font-size-h4;
  text-align: center;
}

.carousel {
  height: 400px;
  margin-bottom: 60px;
}

.carousel-caption {
  top: 70px;
  bottom: auto;
}

.carousel .item {
  height: 400px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.happiness-rating {
  font-size: @font-size-h4;
  * {
    cursor: pointer;
  }
}

.happiness-thanks {
  padding-top: 50px;

  * {
    text-align: center;
  }
  p {
    font-size: @font-size-h1;
    color: #ffffff;
  }
}