<div class="happiness-rating">
    <span class="glyphicon" data-ng-class="resolveClass(1)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(2)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(3)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(4)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(5)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(6)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(7)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(8)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(9)"></span>
    <span class="glyphicon" data-ng-class="resolveClass(10)"></span>
</div>